<form (ngSubmit)="onSubmitForm()">
  <label for="firstname">Prénom</label>
  <input
    type="text"
    name="firstname"
    id="firstname"
    [(ngModel)]="contact.firstname"
  />
  <br />
  <label for="lastname">Nom</label>
  <input
    type="text"
    name="lastname"
    id="lastname"
    [(ngModel)]="contact.lastname"
  />
  <br />
  <label for="age">Age</label>
  <input type="number" name="age" id="age" [(ngModel)]="contact.age" />
  <br />
  <a routerLink="/contacts">Annuler</a>
  <button type="submit">Sauver</button>
</form>
